<ion-header>
	<ion-toolbar>
		<ion-title>badge</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-badge color="primary">11</ion-badge>
	<ion-badge color="primary" mode="ios">11</ion-badge>
	<br>
	<ion-badge color="primary">11</ion-badge>
	<br>
	<ion-badge color="secondary">22</ion-badge>
	<br>
	<ion-badge color="tertiary">33</ion-badge>
	<br>
	<ion-badge color="success">44</ion-badge>
	<br>
	<ion-badge color="warning">55</ion-badge>
	<br>
	<ion-badge color="danger">66</ion-badge>
	<br>
	<ion-badge color="light">77</ion-badge>
	<br>
	<ion-badge color="medium">88</ion-badge>
	<br>
	<ion-badge color="dark">99</ion-badge>
	<br>



	<ion-item>
		<ion-badge slot="start">11</ion-badge>
		<ion-label>My item</ion-label>
		<ion-badge slot="end">22</ion-badge>
	</ion-item>
</ion-content>
