<ion-header>
	<ion-toolbar>
		<ion-title>ckeckbox</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-label>One</ion-label>
	<ion-checkbox></ion-checkbox>
	<br>

	<ion-label>Two</ion-label>
	<ion-checkbox disabled="true"></ion-checkbox>
	<ion-checkbox checked="true"></ion-checkbox>

	<br>
	<ion-checkbox color="primary"></ion-checkbox>
	<br>
	<ion-checkbox color="secondary"></ion-checkbox>
	<br>
	<ion-checkbox color="danger"></ion-checkbox>
	<br>
	<ion-checkbox color="light"></ion-checkbox>
	<br>
	<ion-checkbox color="dark"></ion-checkbox>
	<br>
</ion-content>
