<ion-header>
	<ion-toolbar>
		<ion-title>alert</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-button (click)="presentAlert()">Simple alert</ion-button>
	<ion-button (click)="presentAlertMultipleButtons()">Alert with buttons</ion-button>
	<ion-button (click)="presentAlertConfirm()">Alert confirm</ion-button>
	<ion-button (click)="presentAlertPrompt()">Alert prompt</ion-button>
	<ion-button (click)="presentAlertRadio()">Alert radio</ion-button>
	<ion-button (click)="presentAlertCheckbox()">Alert checkbox</ion-button>
</ion-content>
